.bx-1{
  width: 100%;
  min-height: 100vh;
  background-color: bisque;
}

.title{
  text-align: center;
  padding-top: 50px;
}

.download{
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.textbox{
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
}

::placeholder{
  padding-left: 10px;
}

.btn{
  padding-left: 20px;
}

.submit-btn{
  width: 80px;
  height: 30px;
  color: blue;
  text-align: center;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
  border-style: none;
}

.submit-btn:hover{
  cursor: pointer;
}
